
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600,700');

body, html, {
  font-family: 'Work Sans', sans-serif;
  background-size: cover;
}


#section01{
  background: #7C7BCF url("images/bghome-01.png") top center no-repeat;
  background-size: cover;
  min-height: 994px;
}

#section02{
  background: #7C7BCF url("images/bghome-02.png") top center no-repeat;
  background-size: cover;
  min-height: 994px;
}

#section03{
  background: #7C7BCF url("images/bghome-03.png") top center no-repeat;
  background-size: cover;
  min-height: 994px;
}


/* CSS menu */
.menu ul {
	list-style-type: none;
	justify-content:left;
  font-family: 'Work Sans', sans-serif;
	display:flex;
  padding-top: 0.3em;

}
.menu li {
	text-align:left;
  margin-right: 2.3em;

}
.menu a {
	color:black;
	text-decoration: none;
	font-weight:1em;
	display: block; /*Hace que el enlace sea toda la caja*/
	padding: 0.2em;
}
.menu li:hover {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #7C7BCF;
  transition: 0.3s;
  font-weight: bold;
}


/* CSS section01 */

.description{
  padding-left: 2.4em;
  width: 45%;
  font-family: 'Work Sans', sans-serif;
}

p{
  font-size: 1.2em;
  }

h1{
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 3em;
  color: #7C7BCF;
}

.jeu p span {
  font-weight: bold;
}

/* CSS boton */

.boton{
    text-decoration: none;
    text-align: center;
    max-width: 10em;
    font-family: 'Work Sans', sans-serif;
    padding: 10px;
    padding-right: 1em;
    padding-left: 1em;
    font-weight: 400;
    font-size: 1em;
    color: #ffffff;
    background-color: #182152;
    border-radius: 26px;
    margin-left: 2.4em;
    margin-top: 2em;
  }

/* CSS personnages */


.personnages h2{
    color:white;
    font-size: 3em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 3em;
    padding-left: 2.4em;
  }

.personnages img {
  max-width: 800px;
  display:block;
  margin:auto;
  width: 100%;


}

  /* CSS regles */

.regles ul  {
    text-decoration: none;
    list-style-type:none;
    justify-content:left;
    font-family: 'Work Sans', sans-serif;
    line-height:160%;
    padding-left: 2.4em;
  }

.regles li {
  	color:black;
  	text-decoration: none;
  	font-weight:1.4em;
}

.regles h2{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 3em;
    color: #7C7BCF;
    padding-left: 2.4em;
  }

  /* CSS footer */

footer {
  text-align: center;
}


.copyright{
    font-family: 'Work Sans', sans-serif;
    color:#182152;
    font-size: 0.7em;
  }
