
body {
  background-size: cover;
  margin:0;
  padding:0;
}


.view {
background: #7C7BCF url("images/backkk.png") top center no-repeat;
display: flex;
justify-content: space-between;
min-height: 80vh;
object-fit: cover;
align-items: center;
}

img{
max-height: 10em;
margin:10px;
}


.left-banc {
}

.couple {
min-height: 4em;
display: flex;
}

.right-banc {
}

.single{
  min-height: 4em;
  display: flex;
}

#single-choice{

}

ul {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  list-style-type:none;
  justify-content: space-around;
  margin:0;
  padding:0;
}

li {
}

footer {
background: url("images/ba.png") bottom no-repeat;
}


@media only screen and (max-width: 600px) {
  .view  {
    background: #7C7BCF url("images/bg-mobil.png") top center no-repeat;
    border: 1px solid red;
    background-color: lightblue;
  }
}
