@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600,700');

body, html {
  font-family: 'Work Sans', sans-serif;
  background-size: cover;
  background: url(01.jpg) no-repeat center center fixed;
  background-color: #7C7BCF;
}

section {
  overflow: hidden;
}

/* CSS menu */
.menu ul {
	list-style-type: none;
	justify-content:left;
  font-family: 'Work Sans', sans-serif;
	display:flex;
  padding-top: 0.3em;

}
.menu li {
	text-align:left;
  margin-right: 2.3em;

}
.menu a {
	color:black;
	text-decoration: none;
	font-weight: 1em;
	display: block; /*Hace que el enlace sea toda la caja*/
	padding: 0.2em;
}
.menu li:hover {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #7C7BCF;
  transition: 0.3s;
  font-weight: bold;
}

#section01{
min-height: 75vh;
}

.video {
  display: flex;
  align-items : center;
  justify-content: center;
  flex-direction: column;
}

.video video {
  display: block;
  max-width: 920px;
}

#section02{
  display: flex;
  align-items : center;
  justify-content: center;

}

.maintemant {
  flex-direction: row;
}

.boton{
    text-decoration: none;
    text-align: center;
    max-width: 10em;
    font-family: 'Work Sans', sans-serif;
    padding: 10px;
    padding-right: 1em;
    padding-left: 1em;
    font-weight: 400;
    font-size: 1em;
    color: #ffffff;
    background-color: #182152;
    border-radius: 26px;
    margin-left: 1em;

  }

/* CSS footer */

footer {
text-align: center;
}

.copyright{
  font-family: 'Work Sans', sans-serif;
  color:#182152;
  font-size: 0.7em;
}
