
body {
  background-size: cover;
  margin:0;
  padding:0;
}


.view {
  background: #7C7BCF url("images/back.png") bottom center no-repeat;
display: flex;
justify-content: space-between;
min-height: 80vh;
align-items: center;
}

img{
max-height: 10em;
margin:10px;
}


.left-banc {
}

.couple {
min-height: 4em;
display: flex;
}

.right-banc {
}

.single{
  min-height: 4em;
  display: flex;
}

#single-choice{

}

ul {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  list-style-type:none;
  justify-content: space-around;
  margin:0;
  padding:0;
}

li {



}

footer {
  background: pink;
}
