
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600,700');

body {
  background-size: cover;
  margin:0;
  padding:0;
}


.view {
  background: #7C7BCF url("images/backkk.png") top center no-repeat;
  background-size: cover;
display: flex;
justify-content: space-between;
min-height: 80vh;
align-items: center;
}

img{
max-height: 10em;
margin:20px;
}


.left-banc {
}

.couple {
min-height: 4em;
display: flex;
}

.right-banc {
}

.single{
  min-height: 4em;
  display: flex;
}

#single-choice{

}

ol {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  justify-content: space-around;
  margin:0;
  padding:0;
 font-family: 'Work Sans', sans-serif;
padding:1em;
color:#182152;

}

li {



}

footer {
background: #F4CEDB;
}



  @media only screen and (max-width: 640px) {
    .view  {
      background: #7C7BCF url("images/bg-mobil.png") top center no-repeat;
      background-color: lightblue;
    }

    ol {
    }
}
