body {
  background-image: url("images/back1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: 7C7BCF;
}


.view {
display: flex;
justify-content: space-between;
min-height: 80vh;
align-items: center;
}

img{
max-height: 10em;
}

.left-banc {
border: 3px solid red;
}

.couple {
border : 3px solid #efefef;
min-height: 4em;
display: flex;
}

.right-banc {
border: 3px solid orange;

}

.single{
  min-height: 4em;
  display: flex;
}


ul {
  display: flex;
  text-decoration: none;
  list-style-type:none;
  justify-content: space-around;
}

li {


}
